name: CI

on: [push]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: npm install, build and test
      run: |
        npm install --save --quiet
        npm run build
    - name: copy file via ssh password
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        password: ${{ secrets.SSH_PWD }}
        port: ${{ secrets.SSH_PORT }}
        source: "public/"
        target: "public_html/"
        
